body {
  color: #45014e;
  margin: 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #eaf6f6;
  font-size: 100%;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento"
  
  

}
h2 {
  color: #66BFBF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
  
}

h3 {
  color: #11999E;
  font-size: 1rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
p {
  line-height: 2;
}

hr {
  border: dotted #BDCDD6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999E ;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  
}

a:hover {
  color: #eaf6f6 ;

}
.top-container {
  background-color: #eaf6f6 ;
  position: relative;
  padding: 100px;
}

.middle-container {
  width: 100% 0;
  margin-bottom: 100px;
  
}
.bottom-container {
  background-color: #66BFBF ;
  padding: 50px 0 20px;
  
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
  
.intro {
  width: 30%;
  margin: auto;
}

.copyright{
  color: #eaf6f6 ;
  font-size: 0.75rem ;
  padding: 20px 0;

}


.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;

}
.message {
  width: 40%;
  margin: 40px auto 60px ;
}

.tahmina { 
  font-family: Sacramento ;
}
.computer-image {
  width: 25%;
  float: left;
  margin-right: 30px;

}
.Template-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.btn {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

